body {
  background-color: #dadbdf;
  font-family: "Lato", sans-serif;
}

.container {
  background-color: #efefef;
  max-width: 530px;
  margin: 20px auto;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

select {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 95%;
  background-color: #efefef;
  color: #989898;
  font-size: 12px;
  border-radius: 4px;
  padding: 5px;
}

.wrap-clock {
  display: flex;
  margin: 25px;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 220px;
  background: #f0f0f3;
  border-radius: 50%;
  box-shadow: -4px -4px 10px 5px #d7ff00, 4px 4px 10px 5px #7b0bdd,
    inset 26px 26px 35px #b6b6b863, inset -31px -31px 43px #ffffff;
  position: relative;
}
.clock:after {
  content: "";
  position: absolute;
  height: 98%;
  width: 98%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -7px -7px 9px #ffffffc2, inset 7px 7px 13px #b6b6b8b3,
    3px 3px 5px 0px #bebebe52, -3px -3px 5px #ffffff7d;
}

.minute,
.hour {
  position: absolute;
  height: 107.8px;
  width: 3px;
  margin: auto;
  top: -49%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #7b0bdd;
  transform-origin: bottom center;
  z-index: 4;
}
.hour {
  height: 55px;
  top: -25%;
  left: 0px;
  background: #d7ff00;
  z-index: 2;
}
.second {
  position: absolute;
  height: 118px;
  width: 1px;
  margin: auto;
  top: -54%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 2px;
  background: black;
  box-shadow: 3px 3px 5px #d2d2e1;
  transform-origin: bottom center;
  z-index: -2;
}

.dialpoint {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: #b3b3b0;
  z-index: 3;
}
.dialpoint_twelve {
  top: 15px;
}
.dialpoint_three {
  top: 107.8px;
  margin-left: 195px;
}
.dialpoint_six {
  top: 107.8px;
  margin-left: -195px;
}
.dialpoint_nine {
  top: 205px;
}

.current-city {
  text-align: center;
}
h3 {
  font-size: 22px;
  font-weight: 300;
  color: #b7b8b9;
  margin: 0;
}
p {
  font-size: 15px;
  font-weight: 700;
  color: #7b0bddad;
  margin: 5px 0;
}

.other-city {
  display: flex;
  padding: 10px 35px;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.other-city:last-child {
  border: none;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  color: #989898;
  margin: 5px 0;
}
.date {
  font-size: 15px;
  font-weight: 300;
  color: #b7b8b9;
  margin: 5px 0;
}
.time {
  font-size: 20px;
  line-height: 50px;
  color: #7b0bdd8a;
}
.time small {
  font-size: 10px;
  vertical-align: top;
}

.footer-coder {
  font-size: 8px;
  text-align: center;
  display: block;
  padding-top: 10px;
}
